html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  font-size: 16px;
  line-height: 28px;
  color: #b7b7b7;
  font-weight: 400;
  font-family: "Source Sans Pro", Arial;
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  min-width: 320px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #000;
  overflow-x: hidden;
  // max-width: 320px;
  // min-width: 700px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
}

.container-fluid {
  max-width: 1700px;
  margin: 0 auto;
  padding: 0 10px;
}

.suptitle {
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 24px;
  color: $purp;
  font-weight: 700;
  font-family: "Source Sans Pro", Arial;
  text-align: center;
  text-transform: uppercase;
}

.title {
  font-size: 60px;
  line-height: 64px;
  color: #231f20;
  font-weight: 700;
  font-family: "Playfair Display", Arial;
  text-align: center;
}
@media (max-width: 768px) {
  .title {
    font-size: 42px;
    line-height: 46px;
  }
}
@media (max-width: 468px) {
  .title {
    font-size: 32px;
    line-height: 36px;
  }
}

.logo img {
  width: 200px;
  position: absolute;
  top: -90px;
  left: 0;
}

.button {
  padding: 12px 50px;
  background-color: $purp;
  margin: 0 auto;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  border-radius: 30px;
  font-weight: 700;
}

a.button {
  padding: 5px 50px;
}

.top__wrapper {
  background-image: url("../images/top-bg.jpg");
  @extend %bgi;
  padding: 40px 0;
  padding-bottom: 100px;
}


.popup {
  position: relative;
  background: #fff;
  padding: 25px;
  width: 80%;
  margin: 0 auto;
  border-radius: 8px;
  z-index: 2000;
  height: 80vh;
}


.scroll-top {
  background-color: $purp;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 9998;
  box-shadow: 0px 0px 5px rgba(#fff, 0.3);
  &::before {
    content: "";
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%) rotate(180deg);
    background-image: url("../images/icons/angle-down-b.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 15px;
    height: 15px;
  }
}
@media (max-width: 768px) {
  .scroll-top {
    bottom: 35px;
    right: 35px;
  }
}

.dropdown {
  background-color: #fff;
  z-index: 10;
  position: absolute;
  top: 80px;
  border-bottom: 3px solid $purp;
  font-weight: 700;
  font-size: 16px;
  display: none;
  left: 0;
  right: 0;
  &__list {
    width: 100%;
  }
  li {
    display: block;
    padding: 5px 30px;
    padding-left: 0;
  }
  li + li {
    border-top: 1px solid  #ccc;
  }
  a {
    width: 100%;
    padding-left: 30px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(50%, -50%);
      background-image: url("../images/icons/angle-right.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      width: 15px;
      height: 15px;
    }
  }
}
/*
.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
  width: auto;
} */