html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  font-size: 16px;
  line-height: 28px;
  color: #b7b7b7;
  font-weight: 400;
  font-family: "Source Sans Pro", Arial;
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #000;
  overflow-x: hidden;
  // max-width: 320px;
  // min-width: 700px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-fluid {
  max-width: 1700px;
  margin: 0 auto;
  padding: 0 10px;
}

.suptitle {
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 24px;
  color: $purp;
  font-weight: 700;
  font-family: "Source Sans Pro", Arial;
  text-align: center;
  text-transform: uppercase;
}

.title {
  font-size: 60px;
  line-height: 64px;
  color: #231f20;
  font-weight: 700;
  font-family: "Playfair Display", Arial;
  text-align: center;
}
@media (max-width: 768px) {
  .title {
    font-size: 42px;
    line-height: 46px;
  }
}
@media (max-width: 468px) {
  .title {
    font-size: 32px;
    line-height: 36px;
  }
}

.button {
  padding: 15px;
  background-color: $purp;
  margin: 0 auto;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  border-radius: 30px;
  font-weight: 700;
}



.top__wrapper {
  background-image: url("../images/top-bg.jpg");
  @extend %bgi;
  padding: 40px 0;
  padding-bottom: 100px;
}

.popup {
  position: relative;
  background: #FFF;
  padding: 25px;
  max-width: 80%;
  margin: 0 auto;
  border-radius: 5px;
  z-index: 2000;
}

.top-popup {
  &__text {
    margin-bottom: 30px;
  }
  &__input {
    outline: none;
    width: 100%;
    border-radius: 5px;
    border: 1px solid  #ccc;
    padding: 5px;
    margin-bottom: 10px;
    &.signup {
      margin-bottom: 35px;
    }
  }
  &__button {
    background-color: $purp;
    padding: 10px 25px;
    color: #fff;
    font-weight: 700;
    border-radius: 5px;
    display: block;
    margin-left: auto;
  }
}

.img-popup {
  width: 100%;
}