@media (max-width: 1100px) {
  .info__inner {
    flex-wrap: wrap;
    justify-content: center;
  }
  .info__items {
    justify-content: center;
  }
  .info__text {
    max-width: 100%;
    margin-bottom: 40px;
  }
}


@media (max-width: 768px) {
  .works__items {
    display: none;
    overflow-x: hidden;
  }
  .works__items-mobile {
    display: block;
  }
  .popup {
    padding: 8px;
    padding-bottom: 4px;
    border-radius: 10px;
  }
  .video {
    right: -210px;
  }
}

@media (max-width: 700px) {
  .testimonials {
    padding: 50px 0;
  }
  .testimonials__item-text {
    font-size: 18px;
    line-height: 22px;
  }
}

@media (max-width: 600px) {
  .info__items {
    min-width: 100%;
  }
  .video {
    right: -400px;
  }
}
@media (max-width: 500px) {
  .testimonials__item-text {
    font-size: 14px;
    line-height: 18px;
  }
  .testimonials__item-nametext {
    font-size: 12px;
  }
}